/*  worksans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ! global styles */
* {
  font-family: "Work Sans", sans-serif;
}

.light-gray-text {
  color: #727272;
}

.section-title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #ff900e;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

/* ? header styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

/* *  navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1.125rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* * banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  font-size: 4rem;
  color: #131313;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner-description {
  font-size: 1rem;
  line-height: 1.63;
  margin-bottom: 32px;
}

.banner img {
  width: 100%;
  margin-top: 32px;
}

/* ? main styles */
main {
  max-width: 1440px;
  margin: 8.125rem auto;
}

/* * teams styles */
.teams-container {
  display: flex;
  align-items: center;
}

.teams-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.teams-content {
  padding: 0 70px;
}

.teams-title {
  padding-right: 66px;
  margin-bottom: 24px;
  font-size: 2.8125rem;
}

.teams-title span:nth-child(1) {
  font-weight: 500;
}

.teams-title span:nth-child(2) {
  font-weight: bold;
  color: #131313;
  margin-left: 10px;
}

.teams-title span:nth-child(3) {
  font-weight: bold;
  color: #ff900e;
}

.teams-description {
  margin-bottom: 32px;
  font-size: 1rem;
  line-height: 1.63;
}

/* * facts styles */
.facts .section-title {
  margin-bottom: 24px;
}

.facts-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.facts-card-container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}

.facts-card-container .card-stats {
  font-size: 2.8125rem;
  font-weight: 600;
  color: #424242;
  margin: 10px 0 5px 0;
}

.facts-card-container .card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}

/* !,
!,
!,
!,
!, */

/* ! responsive designs */
/* * small devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav,
  .teams-container {
    flex-direction: column;
  }

  .teams-image-container {
    grid-template-columns: 1fr;
  }

  .teams-content {
    padding: 20px;
  }
}

/* * medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }

  nav,
  .teams-container {
    flex-direction: column;
  }
}
